<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="../assets/css/style4.css">
<title>Hr System by Xuan</title>
</head>

<body class="bg-light">

    <!--Navbar-->
    <div class="container-fluid"> 
        <div class="d-flex">
            <nav class="navbar navbar-expand-sm bg-light navbar-light flex-grow-1" style="margin-top: 15px;" >
                <div class="">
                    <a class="sidebar-toggler" href="#" id="sidebarToggler1" >
                        <i class="fas fa-align-left " style="margin-left: 40px; color: rgba(12, 12, 12, 0.699);"></i> 
                    </a> 
                </div>
                <div class="me-auto">
                    <a class="navbar-brand text-Raleway-thin100" href="../views/index.html" style="margin-left: 100px; color: rgb(12, 12, 12);font-size: 1.2em;">
                        BlueChemical
                    </a>
                </div>
                <div class="">
                    <ul class="navbar-nav text-ComicNeue-regular400" >
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: rgba(12, 12, 12, 0.699);" >
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: rgba(12, 12, 12, 0.699);">
                                About
                            </a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="margin-right: 45px; color: rgba(12, 12, 12, 0.699);">
                                Contact
                            </a>
                        </li> 
                    </ul>
                </div>     
                <div class="">      
                    <div class="">  
                        <div class="dropdown ">
                            <a class="nav-link dropdown-toggle text-darkColor" style="margin-right: 10px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fab fa-hornbill"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>     
                <div class="">  
                    <input class="form-control nav-link me-2" type="search" placeholder="Search" aria-label="Search" style="width:150px;">
                </div>     
                <div class="">  
                    <button class="btn btn-outline-success nav-link" type="submit">John</button>
                </div>    
            </nav>
        </div>
    </div>
    <!--/Navbar-->

    <div class="container-fluid" >
        <div class="d-flex align-items-start">

            <!--Sidebar-->
            <div id="sidebar" class="sidebar sticky-top shadow text-ComicNeue-regular400 py-3" >
                <div class=" px-lg-4 " style="color: whitesmoke;">MAIN</div>
                <div><hr></div>
                <ul class="sidebar-menu list-unstyled" >
                    <li class="sidebar-list-item">
                        <a href="../views/index.html" class="sidebar-link">
                            <i class="fab fa-fort-awesome"></i>
                            <span class="togglerText">Home</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="../views/FilterArea.html" class="sidebar-link ">
                            <i class="fas fa-chart-pie"></i>
                            <span class="togglerText">Filter</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="../views/Payslip.html" class="sidebar-link" >
                            <i class="fas fa-table"></i>
                            <span class="togglerText">Payslip</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="../views/PayrollForm.html" class="sidebar-link">
                            <i class="fas fa-scroll"></i>
                            <span class="togglerText">Payroll</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-user-alt"></i>
                            <span class="togglerText">Login</span>
                        </a>
                    </li>
                </ul>
                <div class=" px-lg-4" style="color: whitesmoke;">EXTRAS </div>
                <div class=""><hr></div>
                <ul class="sidebar-menu list-unstyled">
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link text-muted">
                            <i class="fas fa-dragon"></i>
                            <span class="togglerText">Demo</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link text-muted">
                            <i class="fas fa-dragon"></i>
                            <span class="togglerText">Demo</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link text-muted">
                            <i class="fas fa-dragon"></i>
                            <span class="togglerText">Demo</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link text-muted">
                            <i class="fas fa-dragon"></i>
                            <span class="togglerText">Demo</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Sidebar-->

            <!--Content-->
            <div class="page-holder text-ComicNeue-regular400 w-100 d-flex flex-wrap" style=" margin-top: 3%; margin-left: 1%; " id="form" >
                <div class="container-fluid">
                    <div class="row">

                        <!--QuickActionContent-->
                        <div class="col-lg-12">
                            <h2 style="margin-left: 2%;"> Welcome Back Beautiful Jennifer Tan ! </h2>
                            <br>
                            <h4 style="margin-left: 2%;"> Quick Action </h4>
                        </div>  
                        <div class="col-lg-4">
                            <div class="card shadow border-light" style="background-color: rgb(255, 255, 255);">
                                <div class="card-body">
                                  <h5 class="card-title">Filter System</h5>
                                  <hr>
                                  <p class="card-text text-muted">System thats help filtering the log.</p>
                                  <a href="../views/FilterArea.html" class="btn shadow" ><span style="color: whitesmoke;">Start Filter</span></a>
                                  <p style="margin-top: 1%;"> ↑ Move to Filter Area :D</p>
                                </div>
                            </div>
                        </div> 
                        <div class="col-lg-4">
                            <div class="card shadow border-light" style="background-color: rgb(255, 255, 255);">

                                <div class="card-body">
                                    <h5 class="card-title">Payslip Form</h5>
                                    <hr>
                                    <p class="card-text text-muted">Form thats show payslip.</p>
                                    <a href="../views/Payslip.html" class="btn shadow" ><span style="color: whitesmoke;">Payslip</span></a>
                                    <p style="margin-top: 1%;"> ↑ Move to Payslip Area :D</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow border-light" style="background-color: rgb(255, 255, 255);">

                                <div class="card-body">
                                    <h5 class="card-title">CRUD System</h5>
                                    <hr>
                                    <p class="card-text text-muted">System thats Create, Retrieve, Update and Delete users.</p>
                                    <a href="#" class="btn shadow" ><span style="color: whitesmoke;">Start CRUD</span></a>
                                    <p style="margin-top: 1%;"> ↑ Move to CRUD Area :D</p> 
                                    
                                  </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow border-light" style="margin-top: 1%; background-color: rgb(255, 255, 255);">
                                <div class="card-body">
                                    <h5 class="card-title">Payroll System</h5>
                                    <hr>
                                    <p class="card-text text-muted">System thats help calculating employee salary.</p>
                                    <a href="../views/PayrollForm.html" class="btn shadow "><span style="color: whitesmoke;">Start Calculate</span></a>
                                    <p style="margin-top: 1%;"> ↑ Move to Payroll Area :D</p>   
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow border-light" style="margin-top: 1%; background-color: rgb(255, 255, 255);">
                                <div class="card-body">
                                    <h5 class="card-title">Employee Management</h5>
                                    <hr>
                                    <p class="card-text text-muted">Action in maintaining .......</p>
                                    <a href="../views/UserManagement.html" class="btn shadow"><span style="color: whitesmoke;">Demo</span></a>  ← Empty Area :D
                                </div >
                            </div>
                        </div>
                        <!--/QuickActionContent--> 

                        <!--ToDoList-->
                        <div class="col-lg-12">
                            <div class="card shadow border-light" style="margin-top: 3%; background-color: rgb(255, 255, 255);">
                                <div class="card-body">
                                    <h5 class="card-title">To Do List （待办事项清单）<input style="padding-left: 1%;" type="date" id="DateField" name="date" size=3 maxlength=3 value=today></h5>
                                    <hr>
                                    <div class="tdl-holder">
                                        <div class="form-check tdl-content">
                                            <ul>
                                                <li><label class="form-check-label" for="flexCheckChecked">
                                                    <input type="checkbox" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                        <i></i>
                                                        <span>I Love You</span>
                                                        <a href='#'>–</a>
                                                    </label>
                                                </li>
                                                
                                                <li><label class="form-check-label" for="flexCheckChecked"><input type="checkbox" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked><i></i><span>Everyday</span><a href='#'>–</a></label></li>
                                                <li><label class="form-check-label" for="flexCheckChecked"><input type="checkbox" class="form-check-input" type="checkbox" value="" id="flexCheckChecked"><i></i><span>Don't give up the fight.</span><a href='#'>–</a></label></li>
                                                <li><label class="form-check-label" for="flexCheckChecked"><input type="checkbox" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked><i></i><span>Save the world.</span><a href='#'>–</a></label></li>
                                                <li><label class="form-check-label" for="flexCheckChecked"><input type="checkbox" class="form-check-input" type="checkbox" value="" id="flexCheckChecked"><i></i><span>Do something else</span><a href='#'>–</a></label></li>
                                            </ul>
                                        </div>
                                        <input type="text" class="tdl-new" placeholder="Write new item and hit 'Enter'...">
                                    </div>
                                </div >
                            </div>
                        </div>
                        <!--/ToDoList-->

                    </div>
                </div>
            </div>
            <!--/Content-->
            

            

        </div>
    </div>
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
<script src="../assets/js/index3.js"></script>
</body>
</html>

