<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="../assets/css/style4.css">
<title>Hr System by Xuan</title>

</head>
<body class="bg-light">

    <!--Navbar-->
    <div class="container-fluid"> 
        <div class="d-flex">
            <nav class="navbar navbar-expand-sm bg-light navbar-light flex-grow-1" style="margin-top: 15px;" >
                <div class="">
                    <a class="sidebar-toggler" href="#" id="sidebarToggler1" >
                        <i class="fas fa-align-left " style="margin-left: 40px; color: rgba(12, 12, 12, 0.699);"></i> 
                    </a> 
                </div>
                <div class="me-auto">
                    <a class="navbar-brand text-Raleway-thin100" href="../views/index.html" style="margin-left: 100px; color: rgb(12, 12, 12);font-size: 1.2em;">
                        BlueChemical
                    </a>
                </div>
                <div class="">
                    <ul class="navbar-nav text-ComicNeue-regular400" >
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: rgba(12, 12, 12, 0.699);" >
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: rgba(12, 12, 12, 0.699);">
                                About
                            </a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="margin-right: 45px; color: rgba(12, 12, 12, 0.699);">
                                Contact
                            </a>
                        </li> 
                    </ul>
                </div>     
                <div class="">      
                    <div class="">  
                        <div class="dropdown ">
                            <a class="nav-link dropdown-toggle text-darkColor" style="margin-right: 10px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fab fa-hornbill"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>     
                <div class="">  
                    <input class="form-control nav-link me-2" type="search" placeholder="Search" aria-label="Search" style="width:150px;">
                </div>     
                <div class="">  
                    <button class="btn btn-outline-success nav-link" type="submit">John</button>
                </div>    
            </nav>
        </div>
    </div>
    <!--/Navbar-->

    <div class="container-fluid" >
        <div class="d-flex align-items-start">

            <!--Sidebar-->
            <div id="sidebar" class="sidebar sticky-top shadow text-ComicNeue-regular400 py-3" >
                <div class=" px-lg-4 " style="color: whitesmoke;">MAIN</div>
                <div><hr></div>
                <ul class="sidebar-menu list-unstyled" >
                    <li class="sidebar-list-item">
                        <a href="../views/index.html" class="sidebar-link">
                            <i class="fab fa-fort-awesome"></i>
                            <span class="togglerText">Home</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="../views/FilterArea.html" class="sidebar-link ">
                            <i class="fas fa-chart-pie"></i>
                            <span class="togglerText">Filter</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="../views/Payslip.html" class="sidebar-link" >
                            <i class="fas fa-table"></i>
                            <span class="togglerText">Payslip</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="../views/PayrollForm.html" class="sidebar-link">
                            <i class="fas fa-scroll"></i>
                            <span class="togglerText">Payroll</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-user-alt"></i>
                            <span class="togglerText">Login</span>
                        </a>
                    </li>
                </ul>
                <div class=" px-lg-4" style="color: whitesmoke;">EXTRAS </div>
                <div class=""><hr></div>
                <ul class="sidebar-menu list-unstyled">
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link text-muted">
                            <i class="fas fa-dragon"></i>
                            <span class="togglerText">Demo</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link text-muted">
                            <i class="fas fa-dragon"></i>
                            <span class="togglerText">Demo</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link text-muted">
                            <i class="fas fa-dragon"></i>
                            <span class="togglerText">Demo</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#" class="sidebar-link text-muted">
                            <i class="fas fa-dragon"></i>
                            <span class="togglerText">Demo</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Sidebar-->

            <!--PayslipTableContent-->
            <form class="page-holder text-ComicNeue-regular400 w-100 d-flex flex-wrap" style=" margin-top: 3%; margin-left: 1%;" id="form" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="text-decoration-underline" style="margin-left: 2%;"> BlueChemical Payslip </h2>
                            <br>
                        </div> 

                        <div class="col-lg-12" style="margin-bottom: 4%;">
                        <div class="tablebody" style="width: 100%; border:1px solid;border-color: rgba(173, 216, 230, 0.342);background-color: rgba(221, 160, 221, 0.26);">
                            <table class="table table-bordered" style="margin: 1px;">
                                
                                <thead>
                                    <tr class="date1">
                                        <th colspan="6"><span class="date">Pay Slip for Period Ending      <input type="month" id="date" name="date" size=3 maxlength=3 value="JAN">       (Monthly)(RM)</span></th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <th><span class="ID">ID: </span></th>
                                        <td class="td11" colspan="6"><input type="text" id="ID" name="ID" size=4 maxlength=4 value="0000"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="Name">Name: </span></th>
                                        <td colspan="5"><input type="text" id="Name" name="Name" size=21 maxlength=21 value="Jennifer Tan"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="NRIC">NRIC: </span></th>
                                        <td colspan="5"><input type="text" id="NRIC" name="NRIC" size=14 maxlength=14 value="xxxxxx-xx-xxxx"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="PaymentMethod">Payment Method: </span></th>
                                        <td colspan="5"><input type="text" id="PaymentMethod" name="PaymentMethod" size=40 maxlength=40 value="Hong Leong Bank (Account: 12345678)"></td>
                                    </tr>
                                </tbody>   
                            </table>
                            <br>
                            <table class="table table-bordered" style="margin: 1px;">
                                <tbody>
                                    <tr>
                                        <th><span class="BasicSalary">Basic Salary: </span></th>
                                        <td colspan="5"><input type="text" id="BasicSalary" name="BasicSalary" size=9 maxlength=9 value="0000.00"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="VariablePay">Variable Pay: </span></th>
                                        <td colspan="5"><input type="text" id="VariablePay" name="VariablePay" size=9 maxlength=9 value="0000.00"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="Code">Code</span></th>
                                        <th><span class="Description">Description</span></th>
                                        <th><span class="Amount">Amount</span></th>
                                        <th><span class="Quantity">Quantity</span></th>
                                        <th><span class="Unit">Unit</span></th>
                                        <th><span class="SubTotal">Sub-Total</span></th>
                                    </tr>
                        
                                    <tr>
                                        <td><input type="text" id="Code1" name="Code1" size=5 maxlength=5 value="P0000"></td>
                                        <td><input type="text" id="Description1" name="Description1" size=16 maxlength=16 value="Petrol Allowance"></td>
                                        <td><input type="text" id="Amount1" name="Amount1" size=4 maxlength=4 value="0.00"></td>
                                        <td><input type="text" id="Quantity1" name="Quantity1" size=4 maxlength=4 value="0000"></td>
                                        <td><input type="text" id="Unit1" name="Uni1t" size=4 maxlength=4 value="KM"></td>
                                        <td><input class="float-end text-end px-1" type="text" id="SubTotal1" name="SubTotal1" size=7 maxlength=7 value="0000.00" ></td>
                                    </tr>
                        
                                    <tr>
                                        <td><input type="text" id="Code2" name="Code2" size=5 maxlength=5 value="P0000"></td>
                                        <td><input type="text" id="Description2" name="Description2" size=16 maxlength=16 value="Mobile Allowance"></td>
                                        <td><input type="text" id="Amount2" name="Amount2" size=4 maxlength=4 value="0.00"></td>
                                        <td><input type="text" id="Quantity2" name="Quantity2" size=4 maxlength=4 value="0000"></td>
                                        <td><input type="text" id="Unit2" name="Unit2" size=4 maxlength=4 value="KM"></td>
                                        <td><input class="float-end text-end px-1" type="text" id="SubTotal2" name="SubTotal2" size=7 maxlength=7 value="0000.00"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="VariableDeduction">Variable Deduction: </span></th>
                                        <td colspan="5"><input class="float-end text-end px-1" type="text" id="VariableDeduction" name="VariableDeduction" size=9 maxlength=9 value="000.00"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="Bonus">Bonus: </span></th>
                                        <td colspan="5"><input class="float-end text-end px-1" type="text" id="Bonus" name="Bonus" size=9 maxlength=9 value="0.00"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="StatutoryContribution">Statutory Contribution: </span></th>
                                        <td colspan="5"><input class="float-end text-end px-1" type="text" id="StatutoryContribution" name="StatutoryContribution" size=9 maxlength=9 value="0.00"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="NetSalary">Net Salary: </span></th>
                                        <td colspan="5"><input class="float-end text-end px-1" type="text" id="NetSalary" name="NetSalary" size=9 maxlength=9 value="0000.00"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <table class="table table-bordered" style="margin: 1px;"> 
                                <thead>
                                    <tr>
                                        <th colspan="6"><span class="StatutoryContribution">Statutory Contribution</span></th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <th><span class="NetSalary">         </span></th>
                                        <th><span class="Employer">Employer</span> </th>
                                        <th><span class="Employee">Employee</span> </th>
                                        <th><span class="SubTotal2">Sub-Total</span></th>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="EPF">EPF: </span></th>
                                        <td><input type="text" id="EPF1" name="EPF1" size=9 maxlength=9 value="0000.00"></td>
                                        <td><input type="text" id="EPF2" name="EPF2" size=9 maxlength=9 value="0000.00"></td>
                                        <td><input type="text" id="EPF3" name="EPF3" size=9 maxlength=9 value="0000.00"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="SOCSO">SOCSO: </span></th>
                                        <td><input type="text" id="SOCSO1" name="SOCSO1" size=9 maxlength=9 value="0000.00"></td>
                                        <td><input type="text" id="SOCSO2" name="SOCSO2" size=9 maxlength=9 value="0000.00"></td>
                                        <td><input type="text" id="SOCSO3" name="SOCSO3" size=9 maxlength=9 value="0000.00"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="EIS">EIS: </span></th>
                                        <td><input type="text" id="EIS1" name="EIS1" size=9 maxlength=9 value="0000.00"></td>
                                        <td><input type="text" id="EIS2" name="EIS2" size=9 maxlength=9 value="0000.00"></td>
                                        <td><input type="text" id="EIS3" name="EIS3" size=9 maxlength=9 value="0000.00"></td>
                                    </tr>
                        
                                    <tr>
                                        <th><span class="Total">Total: </span></th>
                                        <td><input type="text" id="Total1" name="Total1" size=9 maxlength=9 value="0000.00"></td>
                                        <td><input type="text" id="Total2" name="Total2" size=9 maxlength=9 value="0000.00"></td>
                                        <td><input type="text" id="Total3" name="Total3" size=9 maxlength=9 value="0000.00"></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>

                    
                    </div>
                </div>
            </form>
            
        </div>
    </div>    
       
            
            
            
            
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<script src="../assets/js/index5.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
</body>
</html>